<html>
  <head>
    <title>Župa Kandija</title>
    <link
      rel="icon"
      href="../assets/images/logo-title.svg"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="rights" content="Župa Kandija, Sv.Ilija Kandija" />

    <meta name="author" content="Stipica Klepic" />
    <meta
      name="keywords"
      content="Kandija, Župa Kandija, Sv.Ilija, Crkva,Bugojno, Zupa, Kandija,Tadija"
    />
    <meta
      name="description"
      content="Župa Golo Brdo (od 1963. Kandija) utemeljena je kao samostalna kapelanija 13. lipnja 1875. odvajanjem od župe Bugojno. Samostalnom župom postaje 1879. Prvi zaštitnik župe bilo je Presveto Trojstvo, a već od 1883. zaštitnik župe je sv. Ilija prorok. Prva župna crkva sagrađena je 1878. godine kao skromna kućica, pokrivena šindrom, a pokraj nje visjelo je zvono na stupovima.Tridesetih godina 20. st. postojeća crkva je obnovljena, a na pročelju crkve podignut je drveni toranj. Nova crkva građena je od 1969. do 1972. godine, a nova župna kuća izgrađena je 1967. godine. Na župnom groblju Grabovi djelomično su uništili kapelu, a nadgrobne spomenike porazbijali. Nakon toga većinu Hrvata katolika protjerali su s područja župe. Temeljita obnova župne kuće i crkve počela je 2000. godine, a 21. 7. 2008. crkva je posvećena.Na području župe nalazi se 6 grobalja s kapelicama i to u Kandiji groblje Grabovi, u Vučipolju groblje Krajac i groblje Zlatan, u Goruši, u Odžaku i Bojskoj. Župom upravlja dijecezanski svećenik, a čine je naselja: Bojska, Golo Brdo, Goruša, Kandija, Odžak, Vučipolje (nekada Donje Glavice).Broj župljana po godinama: 1990 (1991.), 574 (2001.), 562 (2010.)."
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KLEWBTFTH7"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KLEWBTFTH7");
    </script>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/fontawesome.css"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
</html>
