<html>
  <head>
    <title>Župa Kandija</title>

    <link
      rel="icon"
      href="../assets/images/logo-title.svg"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="rights" content="Župa Kandija, Sv.Ilija Kandija" />

    <meta name="author" content="Stipica Klepic" />
    <meta
      name="keywords"
      content="Kandija, Župa Kandija, Sv.Ilija, Crkva,Bugojno, Zupa, Kandija,Vrhbosanska nadbiskupija,
      kandija,sv.Ilija, bugojno, zupa, vrhbosanska"
    />
    <meta
      name="description"
      content="Kandija, Župa Kandija, Sv.Ilija Prorok, Crkva,Bugojno, Zupa, Kandija,Vrhbosanska nadbiskupija,
      kandija, župa kandija, sv.Ilija prorok, bugojno, zupa,vrhbosanska nadbiskupija"
    />
    <meta
      name="google-site-verification"
      content="VwYN95d8tAoUuws99mxEBpAqHawkIyJtSh6IQBsk6Nc"
    />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NQK25JC");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KLEWBTFTH7"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KLEWBTFTH7");
    </script>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/fontawesome.css"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
</html>
