<html>
  <head>
    <title>Župa Kandija</title>
    <link
      rel="icon"
      href="../assets/images/logo-title.svg"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="rights" content="Župa Kandija, Sv.Ilija Kandija" />

    <meta name="author" content="Stipica Klepic" />
    <meta name="keywords" content="Kandija, Župa Kandija, Sv.Ilija, Bugojno" />
    <meta
      name="description"
      content="Kandija, Župa Kandija, Sv.Ilija, Bugojno"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KLEWBTFTH7"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KLEWBTFTH7");
    </script>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/fontawesome.css"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
</html>
