<%- include ('partials/header.ejs') %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
 
</script>
<script src="//cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<script src="./assets/js/custom.js"></script>
<style>
  
    .row{
      padding-top:280px;
      min-height: 100vh;
    }
    
    h1,
    h1 a:hover{
      text-align:center;
      text-decoration:none;
    }
  
  </style>
      <script src="//cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

  <%- include ('partials/nav.ejs') %>
  <div class="container">
    <div class="row">
  <div class="col-md-12">
    <h1>DODAVANJE NOVIH NOVOSTI</h1>
    <form action="/novosti" method="post">
        
      <div class="form-group">
        <input class="form-control" type="text" name="naslov" placeholder="naslov">
      </div>
      
    
      <div class="form-group">
        <input class="form-control" type="text" name="images" placeholder="url slike">
      
      </div>
      
      <select name="category" class="form-control">
        <option value="Preminuli">Preminuli</option>
        <option value="Župne obavijesti">Župne obavijesti </option>
        <option value="Ostalo">Ostalo</option>
      </select>
      
      <div class="form-group">
        <textarea class="form-control" name="description" id="ta" rows="10" cols="50" placeholder="Tekst..."></textarea>
      </div>
      
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block"> SPREMI </button>
      </div>
      
    </form>
  </div>
  
  </div>
  <h1 ><a href="/">Vrati se </a></h1>

</div>
</div>

