<!DOCTYPE html>
<html lang="en">


  <%- include ('partials/header.ejs') %>
<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

 

  <!-- Page Content -->
  <!-- Banner Starts Here -->
  <div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>Sv. Ilija Prorok </h4>
              <h2>KANDIJA</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Banner Ends Here -->



  <section class="blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 ljeva">
          <div class="all-blog-posts">
            <div class="row">
          <% for(var i= novosti.length-1; i > novosti.length-4 ; i--) { %>
               
                <div class="col-lg-12">
                <div class="blog-post">

                  <div class="down-content">
                    <span>Preminuli</span>
                    <a href="post-details.html">
                      <h4><%= novosti[i].naslov %></h4>
                    </a>
                    <ul class="post-info">
                      <li><a href="#">Admin</a></li>
                      <li><a href="#">02/12/2020</a></li>
                      <li><a href="#">12 Pregleda</a></li>
                    </ul>
                    <div class="blog-thumb">

                      <img src="https://www.zupa-skopaljska-gracanica.com/images/vijesti/2020/Katedrala_Sa.jpg" alt="">
                      <p class="kratki-tekst">14. lipnja 2020.
                        Proslava sv. Ante Padovanskog u Bugojnu
          </p>
                    </div>

                    <div class="post-options">
                      <div class="row">
                        <div class="col-6">

                        </div>
                        <div class="col-6">
                          <ul class="post-share">
                            <li><i class="fa fa-share-alt"></i></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></li>

                          </ul>
                        </div>
                       
                      </div>
                    </div>
                   
                  </div>
                  <hr style="width:100%;text-align:left;margin-left:0">
                </div>
              </div>
              <% } %>
            
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="#">Pogledajte starije objave</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="row">
              <div class="col-lg-12">
                <div class="sidebar-item search">
                  <form id="search_form" name="gs" method="GET" action="#">
                    <input type="text" name="q" class="searchText"  style="font-family: FontAwesome;"  placeholder="&#xf002 Traži..." autocomplete="on">
                  </form>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                  <div class="sidebar-heading">
                    <h2><i class="fa fa-calendar"></i> Raspored Misa</h2>
                  </div>
                  <div class="content">
                    <ul>
                      <li><a href="post-details.html">
                          <p>NEDELJA </p>
                          <p>9:00 i 11:00 sati</p>
                          <p>Radnim Danima</p>
                          <p>17:00 sati</p>
                        </a></li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item categories">
                  <div class="sidebar-heading">
                    <h2><i class="fa fa-square"></i> Kontakti</h2>
                  </div>
                  <div class="content">
                    <p>Župni ured Srca Marijina - Skopaljska Gračanica</p>
                    <p>Humac bb, pp 16,</p>
                    <p>70280 Uskoplje - Gornji Vakuf</p>
                    <p> Bosna i Hercegovina</p>
                  </div><br>
                  <p>Tel./Fax. +387 (0)30 281 114</p>
                  <p>Mob: +387 (0)63 352 598</p>
                  <p>Email: zupaskopaljskagr@gmail.com</p>


                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item tags">
                <div class="sidebar-heading">
                  <h2>POSJETITE I</h2>
                </div>
                <div class="content">
                  <div class="posjetite" style="padding-top: 5px;"> <a href="https://www.nedjelja.ba/"><img
                        src="https://www.zupa-skopaljska-gracanica.com/images/izbornici/kat_tjednik.jpg"></a></div>
                  <div class="posjetite" style="padding-top: 5px;">
                    <a href="#"><img src="https://www.zupa-skopaljska-gracanica.com/images/izbornici/kta.jpg"></a></div>
                  <div class="posjetite" style="padding-top: 5px;"></div>
                  <a href="#"> <img src="https://www.zupa-skopaljska-gracanica.com/images/izbornici/caritas.jpg"
                      alt=""></a>
                </div>
                <div class="posjetite" style="padding-top: 5px;">
                  <a href="#"><img src="https://www.zupa-skopaljska-gracanica.com/images/izbornici/misijska.jpg" alt="">
                  </a></div>
                <div class="posjetite" style="padding-top: 5px;">
                  <a href="#"><img src="https://www.zupa-skopaljska-gracanica.com/images/izbornici/mladi.jpg"
                      alt=""></a></div>
                <div class="posjetite" style="padding-top: 5px;">
                  <a href="#"> <img src="https://www.zupa-skopaljska-gracanica.com/images/izbornici/radio_marija.jpg"
                      alt=""></a></div>
                <div class="posjetite" style="padding-top: 5px;">
                  <a href="#"><img
                      src="https://www.zupa-skopaljska-gracanica.com/images/izbornici/vrhbosanska_nadbijskupija.jpg"></a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>


 <!--  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">NASLOVNA</a></li>
            <li><a href="#">O ŽUPI</a></li>
            <li><a href="#">GROBLJA</a></li>
            <li><a href="#">NOVOSTI</a></li>
            <li><a href="#">KONTAKT</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2020 Župa Kandija. Sva prava pridržana
              | POWERED BY: <a href="https://www.facebook/stipica19" target="_parent">Stipica</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }



  </script>
  <!-- Bootstrap core JavaScript
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Additional Scripts
  <script src="assets/js/custom.js"></script>

  <script src="assets/js/slick.js"></script>
  <script src="assets/js/isotope.js"></script>
  <script src="assets/js/accordions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



</body>

</html> -->
<%- include ('partials/footer.ejs') %>