
<style>
  
    .row{
      padding-top:280px;
      min-height: 100vh;
    }
    
    h1,
    h1 a:hover{
      text-align:center;
      text-decoration:none;
    }
    

  
  </style>
  <div class="container">
    <div class="row">
  
<form action="/novosti/<%= novost._id %>" method="post">
        
    <div class="form-group">
      <input class="form-control" type="text" name="naslov" placeholder="naslov" value="<%= novost.naslov%>">
    </div>
    
  
    <div class="form-group">
      <input class="form-control" type="text" name="images" placeholder="url slike" value="<%= novost.images%>">
    
    </div>
    
    <select name="category">
      <option value="Preminuli">Preminuli</option>
      <option value="Župne obavijesti">Župne obavijesti </option>
      <option value="Ostalo">Ostalo</option>
    </select>
    
    <div class="form-group">
      <textarea class="form control" name="description" rows="10" cols="30" placeholder="Tekst..." ><%= novost.description %></textarea>
    </div>
    
    <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block"> Submit </button>
    </div>
    
  </form>  </div>
  <h1 ><a href="/">Vrati se </a></h1>

</div>
</div>

